<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>Example Usage:</h1>
  <p>
    <a href="timestamp/528422400">Unix Time Date Example</a>
  </p>
  </body>
</html>
